.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.emphasis {
  font-weight: 600;
  color: var(--clr-neutral-900);
}

/* Utilities */

.wrapper {
  /* container based setup without needing padding */
  max-width: min(1280px, 100% - 3rem);
  width: 100%;
  margin: 0 auto;
}

.underlined {
  padding-bottom: 0.25rem;
  border-bottom: 3px solid rgb(78 225 160);
}


/* CONTACT */



