/* ------------------ Hero */

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.hero img {
  object-fit: cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1280px) {
  .hero__content {
    max-width: 650px;
  }
}

/* ------------------ About */

.about .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .about .wrapper {
    gap: 2.5rem;
  }

  .about__lists {
    display: flex;
    gap: 4.5rem;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 40px;
  list-style: "✓  ";
}

/* ------------------ Tabs */

.tabs {
  gap: 5rem;
}

.tabs__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .tabs {
    display: flex;
  }
  .tabs__list {
    border-left: 1px solid var(--clr-neutral-900);
    padding-left: 25px;
    padding-bottom: 0;
  }
}

.tabs__btn {
  appearance: none;
  border: none;
  background: none;
  text-align: left;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.tabs__panel {
  max-width: 650px;
}

.tabs__btn[aria-selected="true"] {
  color: var(--clr-accent-600);
}

.tabs__panel:not([hidden]) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ------------------ Projects */

.projects {
  display: flex;
  flex-direction: column;
  /* could 400px be calculated without knowing it previously? scss paired with php.. maybe */
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  gap: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .projects {
    display: grid;
  }
}

.project {
  max-width: 400px;
}

.project__image {
  object-fit: cover;
  cursor: pointer;
  transition: all 0.35s ease;
  border-radius: 1rem;
}

.project__image:hover {
  filter: brightness(50%);
}

.project__subtitle {
  padding-block: 1rem;
}

.project__langs {
  display: flex;
  gap: 1.5rem;
}

.project__overlay {
  opacity: 0;
  position: absolute;
}

/* ------------------ Testimonials */

.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2rem;
  padding-top: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .testimonials {
    display: grid;
    align-items: initial;
    grid-template-columns: repeat(2, 400px);
  }
}

@media only screen and (min-width: 1440px) {
  .testimonials {
    grid-template-columns: repeat(3, 400px);
  }
}

.testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
  max-width: 400px;
  border-radius: 1rem;
}

.testimonial--blank {
  cursor: pointer;
}

.testimonial:not(.testimonial--blank)::before {
  opacity: 0.2;
  left: 0.5rem;
  top: -4.5rem;
  z-index: 1;
  position: absolute;
  content: open-quote;
  font-family: sans-serif;
  font-size: 15rem;
}

.testimonial::after {
  position: absolute;
  visibility: hidden;
  content: close-quote;
}

.testimonial__letters {
  font-family: var(--fontstack-mono);
  opacity: 0.35;
  transition: all 0.85s ease;
  word-wrap: break-word;
}

.testimonial__letters:where(:focus, :hover) {
  opacity: 0.85;
}
